body {
    background: url('licensed-image.jpeg');
    background-color: #0a0e5c;
    color: #e2e2e2;
    font-family: "fantasy;", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    margin: 0;
}

button {
    background-color: #0a0e5c;
    color: ##800000;
    border-start-start-radius: 50%;
writing-mode: orizontal-lr;
    font-family: "fantasy;", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
